body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
.plaatjesdiv {
  display: flex;
}
.active {
  background-color: #28646b;
}

td {
  color: #000000;
  background-color: #17fcde;
  padding: 3px;
}

th {
  color: #000000;
  background-color: #15d6d3;
}
.fotos  {
  width:210px;
  height: 200px;
  transform:rotate(90deg)
}

h1 {
  text-shadow: 2px 2px 5px #06434a;
  text-align: center;
}

p {
  font-family: helvetica;
}

.inleiding  {
  text-align: center;
}
